.search-container {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 80%;
  }
  
  .search-button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .search-button:hover {
    background-color: #45a049;
  }
  
  .search-results-container {
    width: 100%;
    overflow: auto;
    max-height: 200px;
  }
  
  .search-result {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
  

  #no-results {
    color:red;
    font-weight:bold;
 }

 #results {
  color:#45a049;
  font-weight:bold;
}
 .about_f{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
 a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-decoration: none;
  animation: rgb_url 3s infinite linear;
}
@keyframes rgb_url {
  0%{color: #45a049;}
  25%{color: darkslateblue;}
  50%{color: darkred;}
  75%{color: blueviolet;}
  100%{color: #45a049;}
}